[tool.poetry]
authors = ["Allen Chou <f1470891079@gmail.com>"]
description = "The general purpose LLM app stacks."
license = "Apache-2.0 license"
name = "languru"
readme = "README.md"
version = "0.1.0"

[tool.poetry.dependencies]
click = "^8.1.7"
colorama = "^0.4.6"
fastapi = { extras = ["all"], version = "^0.109.0", optional = true }
openai = { version = "^1.10.0", optional = true }
pydantic = "^2"
pydantic-settings = "^2"
python = ">=3.10,<4.0"
typing-extensions = "^4.9.0"

[tool.poetry.scripts]
languru = "languru.cli.main:app"

[tool.poetry.extras]
all = ["fastapi", "openai"]
openai = ["openai"]
server = ["fastapi"]

[tool.poetry.group.dev.dependencies]
black = "^24.1.1"
isort = "^5.13.2"
poetry-plugin-export = "^1.6.0"
pytest = "^8"
pytest-asyncio = "*"

[tool.isort]
profile = "black"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]
