annotated-types==0.6.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
pydantic-core==2.16.1 ; python_version >= "3.10" and python_version < "4.0"
pydantic-settings==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
pydantic==2.6.0 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.9.0 ; python_version >= "3.10" and python_version < "4.0"
